@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --color-primary: #0a4a3f;
  --color-primary-variant: #4ca193;
  --color-gray-0: #fff;
  --color-gray-100: #eeebe3;
  --color-gray-200: #dad7cd;
  --color-gray-300: #32423c;
  --color-gray-400: #0f1b16;

  --container-w-lg: 74%;
  --container-w-sm: 92%;

  --transition: all 350ms ease;
}
::-webkit-scrollbar{
    width: 0.6rem;
    background: var(--color-primary-variant);
}
::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}
body {
  font-family: "Roboto Flex", serif;
  line-height: 1.6;
  background: var(--color-gray-200);
  color: var(--color-gray-300);
}

/* ============ GENERAL CLASSES ================*/
.container {
  width: var(--container-w-lg);
  margin-inline: auto;
}
.btn {
  width: fit-content;
  display: inline-block;
  border: 2px solid var(--color-gray-0);
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: var(--color-gray-0);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-gray-0);
  color: var(--color-gray-400);
}
.btn:hover {
  background: var(--color-gray-400);
  color: var(--color-gray-0);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
  color: var(--color-gray-400);
  font-weight: 400;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

/* ======================NAVBAR=====================*/
nav {
  background: var(--color-primary);
  border-bottom: 0.15rem solid var(--color-primary-variant);
  width: 100vw;
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  display: grid;
  place-items: center;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 1.6rem;
  color: var(--color-gray-0);
}
.nav__container button {
  background: transparent;
  font-size: 1.8rem;
  color: var(--color-gray-0);
  display: none;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.nav__menu a {
  color: var(--color-gray-0);
  transition: var(--transition);
}
.nav__menu a:hover {
  color: var(--color-primary-variant);
}
.nav__menu a.active {
  color: var(--color-primary-variant);
  font-weight: 700;
}

/* ================ MAIN HEADER SECTION =============== */
.mainheader {
  background: var(--color-primary);
  height: 110vh;
  display: grid;
  place-items: center;
}

.mainheader__container {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: -6rem;
}
.mainheader__left {
  flex-basis: 50%;
}

.mainheader__left h1 {
  color: var(--color-gray-0);
}
.mainheader__left p {
  color: var(--color-gray-100);
  font-size: 1.1rem;
}
.mainheader__left-cta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.mainheader__right {
  flex-basis: 50%;
}
/* ===================SERVICES SECTION================= */
.services {
  margin-top: -8rem;
  margin-bottom: 8rem;
}
.services__top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 6rem;
}
.services article {
  background: var(--color-gray-100);
  text-align: center;
  padding: 2rem;
  border: 0.5rem solid var(--color-gray-0);
  transition: var(--transition);
}
.services article:hover {
  transform: translateY(-1rem);
  border-color: var(--color-primary-variant);
  cursor: default;
  box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.1);
}
.services article span {
  background: var(--color-primary-variant);
  color: var(--color-gray-0);
  margin-bottom: 1.5rem;
  border-radius: 50%;
  height: 4.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  margin-inline: auto;
}
.services__bottom {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 6rem;
}
.services__bottom article {
  padding: 3rem 4rem;
}

/* ======================FOOTER SECTION==================== */

footer {
  background: var(--color-primary-variant);
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 7rem;
}
.footer__socials a {
    background: var(--color-primary);
    color: var(--color-gray-0);
    font-size: 0.9rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.footer__socials a:hover{
    background: var(--color-gray-400);
    transform: translateY(-0.5rem);
}
footer menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 2.5rem 0;
}
footer menu a{
    color: var(--color-gray-0);
    font-weight: 500;
    transition: var(--transition);
}
footer menu a:hover{
    color: var(--color-primary);
}
footer small{
    color: var(--color-gray-0);
    background: var(--color-primary);
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: block;
}

/* ========================= MEDIA QUERIES FOR SMALL DEVICES ========================== */

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-w-sm);
    }
    .btn{
        padding: 1.2rem 1.5rem;
    }
    h1{
        font-size: 2.6rem;
    }
    h2{
        font-size: 2.3rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.1rem;
    }
    
    /* ================NAVBAR=============== */
    .nav__menu{
        position: fixed;
        right: 0;
        top: 4rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav__menu a{
        background: var(--color-gray-300);
        width: 15rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--color-gray-400);
        box-shadow: -1rem 3rem 2rem rgba(0, 0, 0, 0.3);
    }

    nav .nav__menu-open{
        display: inline-block;
    }

    .mainheader__container{
        flex-direction: column;
        gap: 1.5rem;
        padding: 12rem 0;
    }
    .mainheader__left-cta{
        gap: 1.2rem;
    }
     .services__top .services__bottom{
        gap: 2rem;
     }
     footer menu{
        flex-direction: column;
        gap: 1.5rem;
        margin: 3.5rem 0;
     }
}














