.contact{
    margin-top: 4rem;
    padding: 5rem 0 7rem;
    background: var(--color-primary);
    display: grid;
    place-items: center;
}
.contact__container{
    width: 36rem;

}
.contact h2, .contact p{
    color: var(--color-gray-0);
}
.contact form{
    background: var(--color-gray-100);
    padding: 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.contact label{
    color: var(--color-gray-400);
}
.contact input, .contact textarea{
    width: 100%;
    padding: 1rem;
    margin: 0.4rem 0 1rem;
    resize: none;
    background: var(--color-gray-200);
}
.contact button.btn{
    background: var(--color-primary);
    color: var(--color-gray-0);
}

@media screen and (max-width: 600px){
    .contact__container {
         width: var(--container-w-sm);
    }
    .contact form{
        padding: 3rem 1rem;
    }
}













