.about{
    margin: 7rem 0;
}
.about__header{
    text-align: center;
}
.about__content{
    display: flex;
    margin-top: 3rem;
}
.about__content-left{
    flex-basis: 50%;
    background-color: var(--color-gray-100);
    padding: 4rem;
}

.about__content-left h3{
    margin-bottom: 1.2rem;
}
.about__content-left p{
    margin-bottom: 0.8rem;
}
.about__content-right{
    flex-basis: 50%;
    padding: 4rem;
    background: var(--color-gray-0);
}

@media screen and (max-width: 600px){
    .about__content{
        flex-direction: column;
    }
    .about__content-left, .about__content-right{
        padding: 2rem 1rem;
    }
    
}



